.header-nav-bar {
    height: 5em;
    display: flex;
    flex-direction: row;

    border-bottom: 2px solid #fff;
}

.header-nav-bar h1 {
    margin-left: 1em;
    padding: 0.25em;

    position: absolute;
}

.site-search {
    display: flex;
    height: 3em;
    margin: auto;
}

#main-search {
    width: 50em;
    border: 0;
    background-color: #fff;
    border-radius: 36px;
    padding: 2em;
}


@media screen and (max-width: 800px) {
  
    .header-nav-bar {
        height: 10em;
        display: flex;
        flex-direction: column;

        border-bottom: 2px solid #fff;
        padding: 1em;
    }

    .header-nav-bar h1 {
        padding: 0.25em;
        position: relative;
    }

    .site-search {
        width: 80vw;
    }
    
}
  
  