:root {
    /* --primary-color-blur: #a7c1a7; */
    --primary-color-blur: #161c138f;
    --primary-color-blur-input: #161c1300;

    --secondary-color-blur: #59aabd57;
}

/* .form-background{
    background-color: rgb(165, 165, 165);
    width: 100vw;
    height: 60vh;
} */

.wallpaper-deepmind {
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

#deepmind-wpp{
    width: 100vw;
    height: auto;
    left: 0px;
    right: 0px;
}

.main{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;

    font: 14pt Arial;

    color: #fff;

    padding: 2em 0 3em 0;
}

.form-main .hidden{
    display: none;
}

.wrapper-form form fieldset{
    /* width: 25em; */
    width: 20em;

    height: 80%;

    border: 1px solid black;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    justify-content: center;

    /* padding: 1.5em 1.25em; */

    margin: 1em 0;

    background-color: var(--primary-color-blur);
}

.wrapper-form form input {
    width: 100%;
    height: 3em;

    border: 0;
    border-radius: 5px;

    border:0;
    outline:0;

    background-color: var(--primary-color-blur-input);
    color: #fff;
}

input[type="text"], textarea {

    background-color : #d1d1d1; 
  
}

/* .api-result {
    
} */

.no-response {
    display: none;
}
/* 
.api-result {
    border: 1px solid #ccc;
    display: flex;
    padding: 1em;
} */

.wrapper.api-result {
    margin: 1em;
    border: 1px solid #cccccc0f;
    background-color: var(--primary-color-blur);
    border-radius: 5px;
    padding: 2em;
}

.wrapper.api-result .wrapper-text {
    display: flex;
    flex-direction: row;
}

.result-placeholder {
    margin: auto 1em;
    font: 16pt Arial;
}

/* #image-preview {
    width: 4em;
} */

#image-preview {
    width: 10em;
    margin: auto;
    border-radius: 17px;
    box-shadow: 5px 4px 4px 1px #000;
}

  
/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.hidden {
    display: none !important;
}


 /* Estilo para o botão de upload */
.custom-upload-button {
    background-color: #fff0;
    color: #fff;
    padding: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Estilo para a mensagem de instrução */
.upload-instructions {
    font-size: 14px;
    margin-top: 10px;
}

/* Estilize o input do tipo file (oculto) */
#image-input {
    display: none;
}

.wrapper-image-description {
    display: flex;
    flex-direction: column;
}


/*
Novo CSS
*/



.wrapper-form {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: #2020208f;
    border-radius: 22px;
    padding: 6em 10em;
    font-weight: 700;
    flex-direction: row;
    gap: 4em;
}

.wrapper-form form {
    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;    
}


.main .form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16pt Arial;
    color: #fff;
    padding: 2em 0 3em 0;
    margin: auto;
      margin-top: auto;
    margin-top: 6em;
}

.loader {
    border: 12px solid #59aabd57;
    border-radius: 50%;
    border-top: 12px solid #bd6c59;
    width: 2em;
    height: 2em;
    animation: spin 0.75s linear infinite;
    margin: auto;
}

.btn {
    background-color: #009f81;
    width: 100%;
    width: 10em;
    height: 5vh;
    padding: 1em 1em 2em 1em;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
}

a {
    color: #008891;
}
.wrapper.api-result .wrapper-text {
    display: flex;
    flex-direction: column;
    
    word-break: normal;
    
    max-height: 16em;
    width: 28em;

    overflow: scroll;
}

.return-button {
    position: fixed;
    top: 1em;
    left: 1em;
    cursor: pointer;
    font: 32pt Arial all-petite-caps;
    width: 2em;
    color: #fff;
    background-color: #009f81;
    border: none;
    border-radius: 38px;
}

.return-button:hover {
    background-color: #01715c;
}